# Notebook for the dataset quality improvement experiment

## TOC:
### Set up
* [Imports](#imports)
* [Load in data](#load_data)
* [Initializations](#initializations)
### Errors
* [Missing values](#mvs)
* [Duplicate rows](#duplicate_rows)
* [Duplicate attributes](#duplicate_cols)
* [Outlier values](#outlier_vals)
* [Outlier instances](#outlier_rows)
* [Cryptic attribute names](#cryptic)
* [Single value attributes](#svs)
* [Mixed data types](#mixed)
* [Mislabeled labels](#mislabels)
* [String mismatches](#mismatches)

## All imports necessary to run the notebook <a class="anchor" id="imports"></a>

In [1]:
#All imports
import pandas as pd
import numpy as np
import json
import re
import nltk
import wordninja
from typing import List, Tuple, Dict
from sklearn.metrics import classification_report
from nltk.stem.wordnet import WordNetLemmatizer
import random
from openai import OpenAI
import time
import copy
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import pFAHES.common as common
import pFAHES.patterns as patterns
import pFAHES.DV_Detector as DV_Detector
import pFAHES.RandDMVD as RandDMVD
import pFAHES.OD as OD
from statistics import mean, median, mode
import copy
from sortinghatinf import get_sortinghat_types
from numpy import percentile
import tiktoken
from deepchecks.tabular.checks import MixedDataTypes
from deepchecks.tabular import Dataset
from deepchecks.tabular.checks import StringMismatch
from deepchecks.tabular.checks import SpecialCharacters
from deepchecks.tabular.checks import OutlierSampleDetection
from deepchecks.tabular.checks import MixedNulls
import math
from PyNomaly import loop
import cleanlab
import pickle
import pandas as pd
import openml
import math
from sklearn.metrics import (f1_score, accuracy_score, mean_squared_error, mean_absolute_error,
                             roc_auc_score, precision_score, recall_score, r2_score)
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, KFold
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import cross_validate

C:\Users\sande\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\sande\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\sande\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Load in the synthetic test data <a class="anchor" id="load_data"></a>

In [2]:
#Synthetic test data
df_synthetic = pd.read_excel("data/synthetic_data.xlsx")
df_synthetic.head()

,age,workclass,fnlwgt,education,gender,native-country,income,high_label_correlation,redundant SV column,duplicate column,mixed_data_types
0,31,Private,121321,?,Male,United-States,<=50K,average salary,this_is_the_same,31,3
1,36,Private,73023,HS-grad,Male,$$$$$,<=50K,average salary,this_is_the_same,36,MD2
2,20,Private,194686,Some-college,Male,United-States,<=50K,average salary,this_is_the_same,20,2
3,24,Private,72887,HS-grad,Male,United-States,<=50K,average salary,this_is_the_same,24,MD2
4,44,VARiation!,282192,?,Male,United-States,<=50K,CHANGED VALUE,this_is_the_same,44,3

## Initializations <a class="anchor" id="initializations"></a>

In [3]:
feature_types = get_sortinghat_types(df_synthetic)
feature_types_dct = {col:feat for col, feat in zip(df_synthetic.columns, feature_types)}
token_encoding = tiktoken.encoding_for_model("gpt-3.5-turbo")
target = "income"

## Missing values <a class="anchor" id="mvs"></a>

### Classes and help functions

In [4]:
def categorical_to_label(df, encode_nans=True):
    """ Converts categorical columns in a dataframe to labels (numerical)
    input:
        df: Pandas DataFrame in which the categorical features will be converted to labels
        encode_nans: True, if the NaNs should be encoded as a label as well (needed for most
        imputation techniques because do not work if there are NaNs in the non-target columns). False, 
        if the NaNs should not be encoded as a label (e.g. for KNN imputation)
    output:
        df_copy: Copy of the original df, but now containing labels for the categorical columns
        dct: A dictionary containing the column names (of categorical columns) as keys and the 
        LabelEncoder used for that column as value. This is needed to convert the labels back to 
        the original categorical values
    """
    dct = dict()
    df_copy = copy.deepcopy(df)
    if encode_nans:
        for col in df_copy.columns:
            if df_copy[col].dtype == 'object' or df_copy[col].dtype == 'category' or df_copy[col].dtype == 'bool':
                df_copy[col] = df_copy[col].astype(str)
                encoder = LabelEncoder()
                df_copy[col] = encoder.fit_transform(df_copy[col])
                dct[col] = encoder
    else:
        for col in df_copy.columns:
            if df_copy[col].dtype == 'object':
                nan_mask = df_copy[col].isnull()
                nan_rows = df_copy[col][nan_mask]
                cat_rows = df_copy[col][~nan_mask].astype(str)
                encoder = LabelEncoder()
                cat_as_label_rows = encoder.fit_transform(cat_rows)
                df_copy[col][~nan_mask] = cat_as_label_rows
                dct[col] = encoder
    return df_copy, dct

In [5]:
def ml_imputation(df, col, method):
    """ Imputation of a column with a Machine Learning (ML) technique
    input:
        df: Pandas DataFrame containing a column on which ML-imputation will be applied
        col: String of the column name on which the ML-imputation will be applied
        method: String of the ML-imputation method that is selected to impute the MVs
        in the selected column. Could be either: MLP, CART or RF.
    output:
        curr_col: Pandas Series of the ML-imputed column
    """
    if df[col].isna().any():
        curr_col = df[col]
        # Transform categorical string attributes in dataframe to categorical labels
        temp_df, encoder = categorical_to_label(df)        

        # Mask over the NaN values in the to be imputed column
        nan_mask = curr_col.isnull()

        # We use all other attributes (X) to predict the missing values of the to be imputed column (y)
        X = temp_df.loc[:, temp_df.columns != col]
        y = curr_col

        # We split the data based on the indices for which y is a NaN
        X_test = X[nan_mask]
        X_train = X[~nan_mask]
        y_test = y[nan_mask]
        y_train = y[~nan_mask]

        if method == 'MLP':
            model = MLPClassifier(solver='lbfgs', alpha=1e-5,
                         hidden_layer_sizes=(100,), random_state=1)
        elif method == 'CART':
            model = DecisionTreeClassifier()
        elif method == 'RF':
            model = RandomForestClassifier(max_depth=2, random_state=0)
        elif method == 'KNN_ALT':
            model = KNeighborsClassifier()
        else:
            print(f"Method {method} is not included as a ML-imputation technique")
        model.fit(X_train, y_train)
        pred_values = model.predict(X_test)

        # Map the indices to the predicted values in order to impute the values into the column
        indices = [idx for idx in X_test.index]
        mapping = {indices[i]:pred_values[i] for i in range(len(indices))}
        imputed_col = copy.deepcopy(curr_col)
        for i, j in mapping.items():
            imputed_col.loc[i] = j
        return imputed_col
    else:
        return df[col]

In [6]:
def mv_method(df, col, method):
    """ Applies the selected imputation method on the selected column
    input:
        df: Pandas DataFrame containing a column on which imputation will be applied
        col: String of the column name on which the imputation will be applied
        method: String of the imputation method that is selected to impute the MVs
        in the selected column. Could be either: Mode, MLP, CART, RF, KNN, Delete record
        and Do not impute (and Mean and Median too for numerical columns)
    output:
        curr_col: Pandas Series of the imputed column
    """
    curr_col = df[col]
    if method == "mode":
        col_mode = df[col].value_counts().idxmax()
        imputed_col = curr_col.fillna(col_mode)
    elif method == 'mean':
        imputed_col = curr_col.fillna(mean(curr_col))
    elif method == 'median':
        imputed_col = curr_col.fillna(median(curr_col))
    elif method == 'RF' or method == "MLP" or method == 'CART' or method == 'KNN_ALT':
        imputed_col = ml_imputation(df, col, method)
    elif method == 'Do not impute':
        imputed_col = curr_col
    elif method == 'Delete record':
        mv_records = df[df[col].isna() == True].index
        cleaned_df = df.drop(mv_records)
        return cleaned_df
    else:
        print(f"Method {method} is not known")
        
    return imputed_col

### Detect

In [7]:
def detect_mv(df):
    """ Detects whether there are missing values in a column
    input: 
        series: Pandas Series of a column in a dataframe
    output: 
        boolean: True if missing values in the column, False if not
    """
    boolean = df.isnull().any()
    nan_cols = df.columns[boolean].to_list()
    mv_list = []
    for col in nan_cols:
        freq = len(df[df[col].isna()])
        mv_list.append([col, 'nan', freq])
    return mv_list

In [8]:
def detect_dmv(df, tool_id="5"):
    """ Detects disguised missing values (DMVs) in a dataframe
    input: 
        df: Pandas DataFrame that will be checked on DMVs
        tool_id: String of 1, 2, 3, 4 or 5, which determines what type of DMVs
        will be checked for. Default=5; pattern discovery + numerical outlier detection
    output:
        output_list: List containing the DMVs detected stored as lists within that list
        in the format: Column name, DMV, Frequency (of DMV), Detection tool (that found the DMV)
    """
    
    df = df.astype(str)
    sus_dis_values = []

    if tool_id == '1':
        sus_dis_values, ptrns = patterns.find_all_patterns(df, sus_dis_values)
        sus_dis_values = DV_Detector.check_non_conforming_patterns(df, sus_dis_values)
    elif tool_id == '2':
        sus_dis_values = RandDMVD.find_disguised_values(df, sus_dis_values)
    elif tool_id == '3':
        sus_dis_values = OD.detect_outliers(df, sus_dis_values)
    elif tool_id == '4':
        sus_dis_values, ptrns = patterns.find_all_patterns(df, sus_dis_values)
        sus_dis_values = DV_Detector.check_non_conforming_patterns(df, sus_dis_values)
        sus_dis_values = RandDMVD.find_disguised_values(df, sus_dis_values)
        sus_dis_values = OD.detect_outliers(df, sus_dis_values)
    elif tool_id == '5':
        sus_dis_values, ptrns = patterns.find_all_patterns(df, sus_dis_values)
        sus_dis_values = DV_Detector.check_non_conforming_patterns(df, sus_dis_values)
        sus_dis_values = OD.detect_outliers(df, sus_dis_values)
    else:
        print("Unkown option ..",tool_id)
    
    output_str = "Attribute Name, Value, Frequency, Detection Tool \n"
    output_list = []
    for sus_dis in sus_dis_values:
        output_str = output_str + f"{sus_dis.attr_name}, {sus_dis.value}, {sus_dis.frequency}, {sus_dis.tool_name}\n"
        output_list.append([sus_dis.attr_name,sus_dis.value,sus_dis.frequency])
    
    return output_list

In [9]:
def detect_spec_chars(df):
    ''' Detects special characters using Deepchecks'''
    spec_mvs = []
    check = SpecialCharacters(n_most_common=10000, n_top_columns=10000).run(df)
    if check.display:
        result = check.display[1]
        print(result)
        for idx, specs in zip(result.index, result['Most Common Special-Only Samples']):
            for spec in specs:
                freq = len(df[df[idx] == spec])
                spec_mvs.append([idx, spec, freq])
    return spec_mvs

In [10]:
def detect_mixed_nulls(df):
    ''' Dects mixed nulls using deepchecks'''
    mixed_nulls = []
    check = MixedNulls(n_top_columns=10000).run(df)
    if check.display:
        result = check.display[1].reset_index()
        for i in range(len(result)):
            if not result['Value'][i].endswith('.nan') and result['Value'][i] != 'None':
                col = result.loc[i, 'Column Name']
                val = result.loc[i, 'Value']
                freq = result.loc[i, 'Count']
                mixed_nulls.append([col, val, freq])
    return mixed_nulls

### Correct

In [11]:
def impute_mv(df, feature_types):
    ''' Imputes missing values according to the feature types, dataset size and missingness ratio
    '''
    df_copy = copy.deepcopy(df).astype(str)
    
    # Determine imputation method
    feature_type_set = set([typ for typ in feature_types if typ == 'numeric' or typ == 'categorical'])
    dataset_size = df_copy.size
    dtypes_dct = {col:df.dtypes[col] for col in df}
    dmvs = detect_dmv(df_copy)
    mvs = detect_mv(df)
    spec_chars = detect_spec_chars(df)
    mixed_nulls = detect_mixed_nulls(df)
    all_mvs = dmvs + mvs + spec_chars + mixed_nulls
    unique_mvs = []
    nan_cols = []
    for mv in all_mvs:
        if mv not in unique_mvs:
            unique_mvs.append(mv)
        if mv[0] not in nan_cols:
            nan_cols.append(mv[0])
    print("Detected Missing Values: ", unique_mvs)
    for mv in unique_mvs:
        indices = df_copy[df_copy[mv[0]] == mv[1]].index
        df_copy.loc[indices, mv[0]] = np.nan
    
    print(f"Number of feature types: {len(feature_type_set)}")
    if len(feature_type_set) == 1:
        #not mixed data
        data_type = list(feature_type_set)[0]
        print(f"Data type: {data_type}")
        print(f"Dataset size: {dataset_size}")
        if data_type == 'numeric':
            if dataset_size < 10000:
                method = "MLP"
            else:
                method = "CART"
        else:
            if dataset_size < 10000:
                method = "RF"
            else:
                method = "CART"
    else:
        #mixed data
        nan_values = df_copy.isnull().sum().sum()
        missingness_ratio = nan_values / dataset_size
        print(f"MR: {missingness_ratio}")
        if missingness_ratio <= 0.1:
            method = "KNN"
        else:
            print(f"Dataset size: {dataset_size}")
            if dataset_size < 10000:
                method = "RF"
            else:
                method = "CART"
    print(f"Method: {method}")
            
    if method == "KNN":
        labeled_df, dct_encoder = categorical_to_label(df_copy, encode_nans=False)
        imputer = KNNImputer(n_neighbors=5, weights='distance')
        output = imputer.fit_transform(labeled_df)
        df_imputed = pd.DataFrame(output, columns=labeled_df.columns)
        df_final = copy.deepcopy(df_copy)
        for col in df_final:
            if df_final[col].isnull().any(): # only take the imputed column for columns that got missing values
                if col in dct_encoder:
                    # object columns
                    col_encoding = dct_encoder[col]
                    imputed_col = col_encoding.inverse_transform(list(round(df_imputed[col]).values.astype(int)))
                else:
                    if dtypes_dct[col] == pd.Int64Dtype():
                        # integer columns should not contain floats
                        imputed_col = pd.Series(list(round(df_imputed[col]).values.astype(int)))
                    else:
                        # float columns
                        imputed_col = df_imputed[col]
                df_final[col] = imputed_col
        for col in df_final:
            if pd.api.types.is_categorical_dtype(dtypes_dct[col]):
                df_final[col] = df_final[col].astype('category')
            else:
                df_final[col] = df_final[col].astype(dtypes_dct[col])
        return df_final
    else:
        for col in nan_cols:
            df_copy[col] = mv_method(df_copy, col, method)
    for col in df_copy:
        if pd.api.types.is_categorical_dtype(dtypes_dct[col]):
            df_copy[col] = df_copy[col].astype('category')
        else:
            df_copy[col] = df_copy[col].astype(dtypes_dct[col])
    return df_copy

## Duplicate instances <a class="anchor" id="duplicate_rows"></a>

### Detect

In [14]:
def detect_dup_row(df):
    ''' Detects duplicate rows'''
    dup_row_mask = df.duplicated()
    dup_row_idxs = df.index[dup_row_mask].to_list()
    print("Detected duplicate rows: ", dup_row_idxs)
    return dup_row_idxs

### Correct

In [15]:
def correct_dup_row(df, remove=True):
    ''' Corrects duplicate rows by dropping the duplictes except the first one'''
    if remove == True:
        duplicate_rows = detect_dup_row(df)
        new_df = df.drop(index=duplicate_rows)
    else:
        new_df = df
    return new_df

## Duplicate attributes <a class="anchor" id="duplicate_cols"></a>

### Detect

In [16]:
def detect_dup_col(df):
    ''' Detects duplicate columns'''
    dup_col_mask = df.T.duplicated()
    dup_col_names = df.columns[dup_col_mask].to_list()
    print("Detected duplicate columns: ", dup_col_names)
    return dup_col_names

### Correct

In [17]:
def remove_dup_col(df):
    ''' Corrects duplicate cols by dropping the duplicates except the first one'''
    duplicate_columns = detect_dup_col(df)
    new_df = df.drop(columns=duplicate_columns)
    return new_df

## Outliers values <a class="anchor" id="outlier_vals"></a>

### Detect

In [18]:
def detect_outlier_val(series, k=3):
    ''' Detects outlier values (only k=3 away cause the recommendation is to correct those and keep k=2)'''
    q25, q75 = percentile(series, 25), percentile(series,75)
    k_IQR = k * (q75 - q25)
    lower_bound, upper_bound = q25 - k_IQR, q75 + k_IQR
    outliers = set([val for val in series if val < lower_bound or val > upper_bound])
    return outliers

### Correct

In [57]:
def correct_outlier_val(df, feature_types, feature_types_dct, method="impute"):
    ''' Corrects outlier values by default using imputation'''
    outlier_dct = dict()
    int_cols = []
    for col, typ in df.dtypes.items(): # to convert int columns after imputation from float back to int
        if typ == 'int64':
            int_cols.append(col)
    for col, ft_type in feature_types_dct.items():
        if ft_type == 'numeric' and col in df.columns:
            outlier_vals = detect_outlier_val(df[col])
            if len(outlier_vals) != 0:
                outlier_dct[col] = outlier_vals
    print("Detected outlier values: ", outlier_dct)
    if method == "remove":
        idx_to_remove = []
        for col, outliers in outlier_dct.items():
            for idx, val in df[col].items():
                if val in outliers:
                    idx_to_remove.append(idx)
        df_imputed = df.drop(idx_to_remove)
    else:
        df_with_nans = copy.deepcopy(df)
        for col, vals in outlier_dct.items():
            for val in vals:
                indices = df_with_nans[df_with_nans[col] == val].index
                for idx in indices:
                    df_with_nans.loc[idx, col] = np.nan
        print(feature_types)
        df_imputed = impute_mv(df_with_nans, feature_types)
        for col in int_cols:
            df_imputed[col] = df_imputed[col].astype(int)
    return df_imputed

## Outlier instances <a class="anchor" id="outlier_rows"></a>

### Detect

In [22]:
def detect_outlier_row(df, threshold=0.8):
    ''' Detect outlier instances using Deepchecks'''
    if math.sqrt(len(df)) < 5: #minimum number of nearest neighbors
        nearest_neighbors_percent = 5/len(df)
        if nearest_neighbors_percent >= 1:
            nearest_neighbors_percent = 0.99
        if nearest_neighbors_percent == 0:
            nearest_neighbors_percent = 0.01
    else:
        nearest_neighbors_percent = round(((math.sqrt(len(df))) / len(df)), 2)
        if nearest_neighbors_percent == 0:
            nearest_neighbors_percent = 0.01
        if nearest_neighbors_percent >= 1:
            nearest_neighbors_percent = 0.99
    check = OutlierSampleDetection(n_to_show=10000, nearest_neighbors_percent=nearest_neighbors_percent, extent_parameter=3,  outlier_score_threshold=0.8, timeout=300)
    result = check.run(df)
    if result.display:
        output = result.display[1]
        outlier_indices = output[output['Outlier Probability Score'] > 0.8].index
        print("Detected outlier instances: ", outlier_indices)
    return outlier_indices

### Correct

In [23]:
def correct_outlier_row(df):
    ''' Correct Outlier instances by dropping them from the dataset'''
    outlier_indices = detect_outlier_row(df)
    new_df = df.drop(outlier_indices)
    return new_df

## Cryptic attribute names <a class="anchor" id="cryptic"></a>

### Classes and help functions

In [24]:
class CrypticIdentifier:
    """Module to identify any cryptic forms in a column header.
    Example usage: 
        identifier = CrypticIdentifier(vocab_file)
        identifier.iscryptic("newyorkcitytotalpopulation") --> False
        identifier.iscryptic("tot_revq4") --> True
    """
    def __init__(self, vocab_file=None, word_rank_file=None, k_whole=4, k_split=2):
        """
        Args:
            vocab_file (str, optional): json file containing the vocabulary. Defaults to None.
            k_whole (int, optional): length threshold for a whole string to be considered non-cryptic if it fails the first round of check (i.e.
            _iscryptic returns True). Defaults to 4.
            k_split (int, optional): length threshold for each word split (wordninja.split()) from the string to be considered non-cryptic, if the pre-split string fails the first round of check (i.e.
            _iscryptic returns True). Defaults to 2.
        """
        if vocab_file is not None:
            with open(vocab_file, "r") as fi:
                self.vocab = json.load(fi)
#                 print("#vocab={}".format(len(self.vocab)))
        else:
            self.vocab = None

        self.k_whole = k_whole
        self.k_split = k_split
        if word_rank_file is None:
            self.splitter = wordninja
        else:
            self.splitter = wordninja.LanguageModel(word_rank_file)
        self.lem = WordNetLemmatizer()
        

    def split_rm_punc(self, text: str) -> list:
        return re.sub(r'[^\w\s]', ' ', text).split()

    def separate_camel_case(self, text: str) -> list:
        return re.sub('([A-Z][a-z]+)', r' \1', re.sub('([A-Z]+)', r' \1', text))

    def convert2base(self, text: str) -> str:
        return self.lem.lemmatize(text)

    def _split(self, text: str) -> list:
        text = text.replace('_', ' ')
        words = self.split_rm_punc(self.separate_camel_case(text))
        return words

    def _iscryptic(self, text: str) -> bool:
        words = self._split(text)
        if all([word.isnumeric() for word in words]):
            return True
        if self.vocab is None:
            self.vocab = nltk.corpus.wordnet.words('english')
        return any([self.convert2base(w.lower()) not in self.vocab for w in words])



    def doublecheck_cryptic(self, text: str) -> Tuple[bool, List[str]]:
        """Double-check whether a column header contains cryptic terms. For example in some cases where neither 
        delimiters between tokens nor camelcases is available

        Args:
            text (str): column header

        Returns:
            Tuple[
                    bool: whether header is cryptic
                    List[str]: splitted tokens from the header
                ]
        """

        #stopwords = nltk.corpus.stopwords.words('english')

        def split_check(words: List[str]) -> Tuple[bool, List[str]]:
            l_cryptic = []
            for ele in words:
                if ele.isdigit():
                    l_cryptic.append(False)
                ## Cornercases includes stopwords like "I", "for", etc.
                elif len(ele) < self.k_split: # and ele.lower() not in stopwords:
                    l_cryptic.append(True)
                ## Second round check
                else:
                    l_cryptic.append(self._iscryptic(ele))
            return any(l_cryptic), words
            
        if len(text) >= self.k_whole:
            if self._iscryptic(text):
                split = self.splitter.split(text)
                return split_check(split)            
            else:
                # return (False, self.splitter.split(text))
                return (False, self._split(text))
        else:
            with open('data/vocab/words.txt', 'r') as file:
                # Read the content of the file
                content = file.read()

                # Split the content into words based on whitespace
                vocabulair = content.split()

            # Print the list of words
            if text in vocabulair:
                return (False, [text])
            return (True, [text])

    def iscryptic(self, text: str) -> bool:
        return self.doublecheck_cryptic(text)[0]
    
    def split_results(self, text: str) -> List[str]:
        return self.doublecheck_cryptic(text)[1]

In [25]:
def query_cryp_cols(cryp_list, title, description, content_df):
    
    col_query = " | ".join(str(item) for item in cryp_list)
    
    if not content_df.empty:
        num_instances = len(content_df)
        content_list = [content_df.loc[idx].to_list() for idx in content_df.index]
        contents = "\n".join([" | ".join(str(item) for item in lst) for lst in content_list])
        content_bool = True
    else:
        content_bool = False
    
    if title == False:
        title_query = ""
    else:
        title_query = f"title: {title}"
    if description == False:
        desc_query = ""
    else:
        desc_query = f"description: {description}"
    if content_bool == False:
        content_query = ""
    else:
        content_query = f"contents of {num_instances} random instances:\n{contents}"
    
    if title == False and description == False and content_bool == False:
        subquery = ""
    else:
        subquery=f"""As abbreviations of column names from a table with characteristics:
{title_query}
{desc_query}
{content_query}
        """
    
    query = f"""As abbreviations of column names from a table, the column names c_name | pCd | dt stand for Customer Name | Product Code | Date.
{subquery}
The column names {col_query} stand for"""
    print(query)
    return query

### Detect

In [26]:
def detect_cryp_cols(df):
    ''' Detect cryptic column names in dataset'''
    identifier = CrypticIdentifier("./lookups/wordnet.json", "./lookups/wordninja_words_alpha.txt.gz")
    cryptic_cols = [col for col in df.columns if identifier.doublecheck_cryptic(col)[0]==True]
    return cryptic_cols

### Correct

In [27]:
def correct_cryp_cols(df, title=False, description=False, n_instances=0):
    ''' Corrects the cryptic column names using GPT-3.5'''
    # Set API key, uncomment to test
    client = OpenAI(api_key="") # add your own API key here
    
    # Identify the cryptic column names
    cryptic_cols = detect_cryp_cols(df)
    num_cols = len(cryptic_cols)
    
    if n_instances == 0:
        instances = pd.DataFrame()
    else:
        # Obtain n random instances of content for the cryptic columns
        sliced_df = df[cryptic_cols]
        indices = random.sample(range(0, len(sliced_df)), n_instances)
        instances = sliced_df.iloc[indices]
    
    # Generate the OpenAI query
    query = query_cryp_cols(cryptic_cols, title=title, description=description, content_df=instances)
    tokens_used = len(token_encoding.encode(query))
    print(tokens_used)
#     # 3 word ~= 4 tokens of OpenAI. We dont want too long column names (max. 4 words), which translates to ~ max 5 tokens per column name
#     max_token_len = num_cols * 4
    # Call OpenAI's GPT 3.5 Turbo LLM model to generate better column names
    completion = client.chat.completions.create(model="gpt-3.5-turbo",temperature=0.0,messages=[{"role": "user", "content": query}])
    message = completion.choices[0].message
    new_col_names = message.content
    return new_col_names, tokens_used

## Single value columns <a class="anchor" id="svs"></a>

### Detect

In [28]:
def detect_sv_col(df):
    '''Detects single value columns'''
    single_value_cols_list = []
    for col in df.columns:
        if df[col].nunique() <= 1:
            single_value_cols_list.append(col)
    print("Detected sv columns: ", single_value_cols_list)
    return single_value_cols_list

### Correct

In [29]:
def correct_sv_col(df, keep=False):
    ''' Corrects single value columns by removing them'''
    if not keep:
        single_value_cols_list = detect_sv_col(df)
        df = df.drop(columns=single_value_cols_list)
    return df

## Mixed data type columns <a class="anchor" id="mixed"></a>

### Classes and Help functions

In [31]:
def convert_mix_to_nan(df, mix_dct):
    ''' Converts the minority data type in mixed data columns to NaN values'''
    for col, dct in mix_dct.items():
        if dct['numbers'] < dct['strings']:
            #numbers to np.nan
            for idx, val in df[col].items():
                if isinstance(val, str) and val.isdigit():
                    df.loc[idx, col] = np.nan
                elif isinstance(val, (int, float)):
                    df.loc[idx, col] = np.nan
        else:
            #strings to np.nan
            for idx, val in df[col].items():
                if isinstance(val, str) and not val.isdigit():
                    df.loc[idx, col] = np.nan
    return df

### Detect

In [35]:
def detect_mixed_data(df):
    ''' Detects mixed data types using deepchecks'''
    result = MixedDataTypes(n_top_columns=10000).run(df)
    mixed_dct = result.value
    delete_cols = []
    for col, mixed in mixed_dct.items():
        if len(mixed) == 0:
            delete_cols.append(col)
    for col in delete_cols:
        del mixed_dct[col]
    print("Detected mixed data: ", mixed_dct)
    return mixed_dct

### Correct

In [37]:
def correct_mixed_data(df, feature_types):
    ''' Corrects mixed data using deepchecks'''
    df_copy = copy.deepcopy(df)
    mixed_dct = detect_mixed_data(df_copy)
    df_with_nans = convert_mix_to_nan(df_copy, mixed_dct)
    df_imputed = impute_mv(df_with_nans, feature_types)
    return df_imputed

## Mislabeled labels <a class="anchor" id="mislabels"></a>

### Detect

In [39]:
def detect_mislabels(df, target):
    ''' Detects Incorrect labels using Cleanlab'''
    model_XGBC = XGBClassifier(tree_method="hist", enable_categorical=True)
    df_numeric, encoding = categorical_to_label(df)
    X = df_numeric.drop(columns=[target])
    y = df_numeric[target]
    
    stratified_splits = StratifiedKFold(n_splits=5)
    pred_probs = cross_val_predict(model_XGBC, X, y, cv=stratified_splits, method='predict_proba')
    cl = cleanlab.classification.CleanLearning()
    df_label_issues = cl.find_label_issues(X=None, labels=y, pred_probs=pred_probs)
    print("Detected mislabels: ", df_label_issues[df_label_issues['is_label_issue'] == True])
    return df_label_issues, encoding

In [40]:
def correct_mislabels(df, target, ft_types_dct):
    ''' Corrects incorrect labels and converts them to correct label'''
    df_copy = copy.deepcopy(df)
    if ft_types_dct[target] == 'categorical':
        df_label_issues, encoding = detect_mislabels(df_copy, target)
        df_label_issues['predicted_label'] = encoding[target].inverse_transform(df_label_issues['predicted_label'].to_list())
        dicty = {idx : df_label_issues.loc[idx,'predicted_label'] for idx in df_label_issues[df_label_issues['is_label_issue'] == True].index}
        col_idx = [col_idx for col_idx in range(len(df_copy.columns)) if df_copy.columns[col_idx] == target][0]
        for idx in dicty.keys():
            df_copy.iloc[idx,col_idx] = dicty[idx]
    return df_copy

## String mismatch <a class="anchor" id="mismatches"></a>

### Detect

In [41]:
def detect_mismatch(df, target):
    ''' Detects string mismatches using deepchecks'''
    result = StringMismatch(n_top_columns=10000).run(df)
    dct_mismatch = result.value['columns']
    print(dct_mismatch)
    delete_cols = []
    for col, mismatches in dct_mismatch.items():
        if len(mismatches) == 0:
            delete_cols.append(col)
    for col in delete_cols:
        print(col)
        del dct_mismatch[col]
    if target in dct_mismatch:
        del dct_mismatch[target]
    df_dct = dict()
    for col, data in dct_mismatch.items():
        for base, var in data.items():
            new_df = pd.DataFrame(var)
            df_dct[(col, base)] = new_df
    print("Detected mismatches: ", dct_mismatch)
    return df_dct, dct_mismatch

### Correct

In [42]:
def correct_mismatch(df, target):
    ''' Corrects the string mismatches by converting them to base form'''
    df_copy = copy.deepcopy(df)
    print(df_copy)
    dct_df, mismatch_dct = detect_mismatch(df_copy, target)
    for col, mismatches in mismatch_dct.items():
        variations = []
        for base, var_dct_list in mismatches.items():
            for var in var_dct_list:
                variations.append(var['variant'])
        variation_idx = df_copy[df_copy[col].isin(variations)].index
        df_copy.loc[variation_idx, col] = base
    return df_copy

## Tests

### Missing values

In [43]:
detect_mv(df_synthetic)

[['gender', 'nan', 11]]

In [44]:
detect_dmv(df_synthetic)

[['workclass', 'Variation@', 3],
 ['education', '?', 7],
 ['education', '0', 3],
 ['education', '-', 3]]

### Duplicates

In [45]:
detect_dup_row(df_synthetic)

Detected duplicate rows:  [20, 25, 34, 43, 46, 47]

[20, 25, 34, 43, 46, 47]

In [46]:
detect_dup_col(df_synthetic)

Detected duplicate columns:  ['duplicate column']

['duplicate column']

### Outliers

In [47]:
for col, ft_type in feature_types_dct.items():
    if ft_type == 'numeric':
        print(col)
        print(detect_outlier_val(df_synthetic[col]))

age
{128, 167, 137, 139, 143}
fnlwgt
set()
duplicate column
{128, 167, 137, 139, 143}

In [48]:
detect_outlier_row(df_synthetic)

deepchecks - WARNING - Received a "pandas.DataFrame" instance. It is recommended to pass a "deepchecks.tabular.Dataset" instance by initializing it with the data and metadata, for example by doing "Dataset(dataframe, label=label, cat_features=cat_features)"
deepchecks - WARNING - It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data. 6 categorical features were inferred.: gender, native-country, income, high_label_correlation, redundant SV column, mixed_data_types

Detected outlier instances:  Index([], dtype='int64')

Index([], dtype='int64')

### Cryptic column names

In [49]:
detect_cryp_cols(df_synthetic)

['fnlwgt', 'redundant SV column']

### Single value columns

In [50]:
detect_sv_col(df_synthetic)

Detected sv columns:  ['redundant SV column']

['redundant SV column']

### Mixed data

In [51]:
detect_mixed_data(df_synthetic)

deepchecks - WARNING - Received a "pandas.DataFrame" instance. It is recommended to pass a "deepchecks.tabular.Dataset" instance by initializing it with the data and metadata, for example by doing "Dataset(dataframe, label=label, cat_features=cat_features)"
deepchecks - WARNING - It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data. 6 categorical features were inferred.: gender, native-country, income, high_label_correlation, redundant SV column, mixed_data_types

Detected mixed data:  {'education': {'strings': 0.9454545454545454, 'numbers': 0.05454545454545454, 'strings_examples': {'Bachelors', 'Masters', 'HS-grad'}, 'numbers_examples': {0}}, 'mixed_data_types': {'strings': 0.2727272727272727, 'numbers': 0.7272727272727273, 'strings_examples': {'MD2', 'MD3', 'MD1'}, 'numbers_examples': {1, 2, 3}}}

{'education': {'strings': 0.9454545454545454,
  'numbers': 0.05454545454545454,
  'strings_examples': {'Bachelors', 'HS-grad', 'Masters'},
  'numbers_examples': {0}},
 'mixed_data_types': {'strings': 0.2727272727272727,
  'numbers': 0.7272727272727273,
  'strings_examples': {'MD1', 'MD2', 'MD3'},
  'numbers_examples': {1, 2, 3}}}

### Mislabeled labels

In [59]:
detect_mislabels(df_synthetic, target)

Detected mislabels:      is_label_issue  label_quality  given_label  predicted_label
12            True       0.279960            0                1
37            True       0.168822            0                1
45            True       0.385885            0                1
50            True       0.009794            1                0

(    is_label_issue  label_quality  given_label  predicted_label
 0            False       0.942201            0                0
 1            False       0.949764            0                0
 2            False       0.996256            0                0
 3            False       0.921297            0                0
 4            False       0.542952            0                0
 5            False       0.985606            0                0
 6            False       0.982427            0                0
 7            False       0.981859            0                0
 8            False       0.990919            0                0
 9            False       0.840710            0                0
 10           False       0.959199            0                0
 11           False       0.992264            0                0
 12            True       0.279960            0                1
 13           False       0.932174            0                0
 14           False       0.891915            1                1
 15           False       0.228430            1                0
 16           False       0.537657            0                0
 17           False       0.972918            0                0
 18           False       0.986687            0                0
 19           False       0.970640            0                0
 20           False       0.910944            1                1
 21           False       0.938079            1                1
 22           False       0.958685            0                0
 23           False       0.537909            0                0
 24           False       0.547430            0                0
 25           False       0.916744            0                0
 26           False       0.025416            1                0
 27           False       0.762660            0                0
 28           False       0.992790            0                0
 29           False       0.516910            0                0
 30           False       0.986609            0                0
 31           False       0.997276            0                0
 32           False       0.964423            0                0
 33           False       0.954987            0                0
 34           False       0.771255            1                1
 35           False       0.994930            0                0
 36           False       0.992684            0                0
 37            True       0.168822            0                1
 38           False       0.579610            0                0
 39           False       0.924917            0                0
 40           False       0.994930            0                0
 41           False       0.994000            0                0
 42           False       0.984836            0                0
 43           False       0.993666            0                0
 44           False       0.950666            0                0
 45            True       0.385885            0                1
 46           False       0.730548            0                0
 47           False       0.939759            0                0
 48           False       0.962803            0                0
 49           False       0.962803            0                0
 50            True       0.009794            1                0
 51           False       0.030034            1                0
 52           False       0.060241            1                0
 53           False       0.037197            1                0
 54           False       0.037197            1                0,
 {'workclass': LabelEncoder(),
  'education': LabelEncoder(),
  'gender': LabelEncoder(),
  'native-country': LabelEncoder(),
  'income': LabelEncoder(),
  'high_label_correlation': LabelEncoder(),
  'redundant SV column': LabelEncoder(),
  'mixed_data_types': LabelEncoder()})

### String mismatches

In [61]:
detect_mismatch(df_synthetic, target)

deepchecks - WARNING - Received a "pandas.DataFrame" instance. It is recommended to pass a "deepchecks.tabular.Dataset" instance by initializing it with the data and metadata, for example by doing "Dataset(dataframe, label=label, cat_features=cat_features)"
deepchecks - WARNING - It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data. 6 categorical features were inferred.: gender, native-country, income, high_label_correlation, redundant SV column, mixed_data_types

{'workclass': {'variation': [{'variant': 'VARIATION', 'count': 1, 'percent': 0.01818181818181818}, {'variant': 'VARiation!', 'count': 1, 'percent': 0.01818181818181818}, {'variant': 'vaRiAtIoN', 'count': 3, 'percent': 0.05454545454545454}, {'variant': 'variation', 'count': 2, 'percent': 0.03636363636363636}, {'variant': 'Variation@', 'count': 3, 'percent': 0.05454545454545454}]}, 'education': {}, 'gender': {}, 'native-country': {}, 'income': {'50k': [{'variant': '<=50K', 'count': 44, 'percent': 0.8}, {'variant': '>50K', 'count': 11, 'percent': 0.2}]}, 'high_label_correlation': {}, 'redundant SV column': {}, 'mixed_data_types': {}}
education
gender
native-country
high_label_correlation
redundant SV column
mixed_data_types
Detected mismatches:  {'workclass': {'variation': [{'variant': 'VARIATION', 'count': 1, 'percent': 0.01818181818181818}, {'variant': 'VARiation!', 'count': 1, 'percent': 0.01818181818181818}, {'variant': 'vaRiAtIoN', 'count': 3, 'percent': 0.05454545454545454}, {'variant': 'variation', 'count': 2, 'percent': 0.03636363636363636}, {'variant': 'Variation@', 'count': 3, 'percent': 0.05454545454545454}]}}

({('workclass',
   'variation'):       variant  count   percent
  0   VARIATION      1  0.018182
  1  VARiation!      1  0.018182
  2   vaRiAtIoN      3  0.054545
  3   variation      2  0.036364
  4  Variation@      3  0.054545},
 {'workclass': {'variation': [{'variant': 'VARIATION',
     'count': 1,
     'percent': 0.01818181818181818},
    {'variant': 'VARiation!', 'count': 1, 'percent': 0.01818181818181818},
    {'variant': 'vaRiAtIoN', 'count': 3, 'percent': 0.05454545454545454},
    {'variant': 'variation', 'count': 2, 'percent': 0.03636363636363636},
    {'variant': 'Variation@', 'count': 3, 'percent': 0.05454545454545454}]}})

# Downstream model performance

## Gather datasets

In [62]:
import openml
import sortinghatinf
openml.datasets.list_datasets(output_format="dataframe")

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46254,46254,Diabetes_Dataset,2,39999,active,arff,NaN,NaN,NaN,NaN,9.0,768.0,0.0,0.0,9.0,0.0
46255,46255,Student_Performance_Dataset,1,39999,active,arff,NaN,NaN,NaN,NaN,15.0,2392.0,0.0,0.0,15.0,0.0
46258,46258,sonar,2,43180,active,arff,NaN,NaN,NaN,NaN,61.0,207.0,0.0,0.0,60.0,0.0
46259,46259,Electricity-hourly,1,30703,active,arff,NaN,NaN,NaN,NaN,319.0,26305.0,0.0,0.0,317.0,1.0
46260,46260,FRED-QD,1,30703,active,arff,NaN,NaN,NaN,NaN,204.0,258.0,0.0,0.0,202.0,1.0

In [77]:
# We have chosen by hand 10 regression and 10 classification datasets
regression_datasets = [8, 204, 210, 560, 491, 566, 189, 673, 639, 41700]
classification_datasets = [44, 38, 458, 1053, 1050, 2, 3, 5, 31, 1464]
complete_did_list = regression_datasets + classification_datasets

## Create clean version of each dataset

In [63]:
def full_cleaner(df, feature_types, feature_types_dct, target):
    df = correct_dup_row(df).reset_index(drop=True) #dup 1
    df = remove_dup_col(df) # dup 2
    df = correct_outlier_row(df) # out 1
    df = correct_sv_col(df) # sv
    df = correct_mismatch(df, target) # mm
    df = correct_mislabels(df, target, feature_types_dct) #mislabels
    df = impute_mv(df, feature_types) # mv
    df = correct_outlier_val(df, feature_types, feature_types_dct) # out 2
    df = correct_mixed_data(df, feature_types) # mix
    return df

## Final Data Quality Experiment

In [75]:
def evaluate_datasets(did_list):
    ''' Evaluates for every dataset the performance on the dirty and clean dataset'''
    ds_perfs = dict()
    
    for did in did_list:
        dataset = openml.datasets.get_dataset(did)
        X, y, categorical_indicator, attribute_names = dataset.get_data(
            target=dataset.default_target_attribute
        )
        y = pd.DataFrame(y)
        df = pd.concat([X, y], axis=1)
        ft_types = sortinghatinf.get_sortinghat_types(df)
        ft_types_dct = {col: typ for col, typ in zip(df.columns, ft_types)}
        
        clean_df = full_cleaner(df, ft_types, ft_types_dct, df.columns[-1])
        
        task = 'classification' if ft_types[-1] == 'categorical' else 'regression'

        new_df = df.dropna()
        if len(new_df) < 0.2 * len(df):
            new_df = df.dropna(axis=1)
        
        X_dirty = new_df.drop(columns=[new_df.columns[-1]])
        y_dirty = new_df[new_df.columns[-1]]
        enc_X_dirty, enc_dirty = categorical_to_label(X_dirty)
        
        X_clean = clean_df.drop(columns=[df.columns[-1]])
        y_clean = clean_df[df.columns[-1]]
        enc_X_clean, enc_clean = categorical_to_label(X_clean)

        ds_perfs[did] = evaluate_performance(enc_X_dirty, y_dirty, enc_X_clean, y_clean, task)

        with open('data/data/performances_datasets_dirty_clean.pkl', 'wb') as handle:
            pickle.dump(ds_perfs, handle)
    
    return ds_perfs

def evaluate_performance(X_dirty, y_dirty, X_clean, y_clean, task):
    ''' Calculates the performance of the 5 different models using cross validation'''
    models = {
        'RF': RandomForestClassifier() if task == 'classification' else RandomForestRegressor(),
        'LR': LogisticRegression() if task == 'classification' else LinearRegression(),
        'KNN': KNeighborsClassifier() if task == 'classification' else KNeighborsRegressor(),
        'DT': DecisionTreeClassifier() if task == 'classification' else DecisionTreeRegressor(),
        'GB': GradientBoostingClassifier() if task == 'classification' else GradientBoostingRegressor()
    }
    
    metrics = {}
    for model_name, model in models.items():
        metrics[model_name] = {
            'dirty': calculate_performance(X_dirty, y_dirty, task, model),
            'clean': calculate_performance(X_clean, y_clean, task, model)
        }
    
    return metrics

def calculate_performance(X, y, task, model):
    ''' Function for cross validation and what performance measure to use'''
    if task == 'classification':
        cv = StratifiedKFold(n_splits=5)
        scoring = ['f1_weighted', 'accuracy']
    else:
        cv = KFold(n_splits=5)
        scoring = ['neg_mean_absolute_error', 'neg_root_mean_squared_error']
    
    scores = cross_validate(model, X, y, cv=cv, scoring=scoring)
    
    if task == 'classification':
        performance = {
            'F1': scores['test_f1_weighted'].mean(),
            'Accuracy': scores['test_accuracy'].mean(),
        }
    else:
        performance = {
            'MAE': -scores['test_neg_mean_absolute_error'].mean(),
            'RMSE': -scores['test_neg_root_mean_squared_error'].mean()}
    
    return performance

In [82]:
# Load in the saved performances for all datasets
with open("data/performances_datasets_dirty_clean.pkl", 'rb') as f:
    downstream_perfs_dct = pickle.load(f)
downstream_perfs_dct

{8: {'RF': {'dirty': {'MAE': 2.8779565217391303, 'RMSE': 3.4075470512183026},
   'clean': {'MAE': 2.8728582089552237, 'RMSE': 3.4040742399517443}},
  'LR': {'dirty': {'MAE': 2.8014647951133584, 'RMSE': 3.364155310843141},
   'clean': {'MAE': 2.7335902830502987, 'RMSE': 3.2783025527080403}},
  'KNN': {'dirty': {'MAE': 3.0234782608695654, 'RMSE': 3.6525838429736104},
   'clean': {'MAE': 3.103617208077261, 'RMSE': 3.7102125253265057}},
  'DT': {'dirty': {'MAE': 3.6869565217391305, 'RMSE': 4.689735253112677},
   'clean': {'MAE': 3.517866549604917, 'RMSE': 4.354162113760905}},
  'GB': {'dirty': {'MAE': 2.88346309086793, 'RMSE': 3.4530471410787813},
   'clean': {'MAE': 2.901515597717368, 'RMSE': 3.4566025860491605}}},
 204: {'RF': {'dirty': {'MAE': 42.80966101694916, 'RMSE': 54.75768759808791},
   'clean': {'MAE': 40.26471147540983, 'RMSE': 50.32794662629982}},
  'LR': {'dirty': {'MAE': 40.24055142704408, 'RMSE': 52.49827100690286},
   'clean': {'MAE': 37.92614771342156, 'RMSE': 48.11541890635404}},
  'KNN': {'dirty': {'MAE': 43.31700564971752, 'RMSE': 55.6396903806694},
   'clean': {'MAE': 41.37488524590164, 'RMSE': 51.804771490601}},
  'DT': {'dirty': {'MAE': 56.38418079096046, 'RMSE': 71.97626462971405},
   'clean': {'MAE': 56.677978142076505, 'RMSE': 69.68877035480907}},
  'GB': {'dirty': {'MAE': 44.99525294860506, 'RMSE': 57.41045473690478},
   'clean': {'MAE': 42.88983909796805, 'RMSE': 53.3300650323363}}},
 210: {'RF': {'dirty': {'MAE': 0.30757220779220773,
    'RMSE': 0.4922253146071557},
   'clean': {'MAE': 0.25391632034632033, 'RMSE': 0.3873000264378125}},
  'LR': {'dirty': {'MAE': 0.2616177903487995, 'RMSE': 0.3853300754372834},
   'clean': {'MAE': 0.26713746340928507, 'RMSE': 0.415765805820389}},
  'KNN': {'dirty': {'MAE': 0.351369696969697, 'RMSE': 0.538638320329937},
   'clean': {'MAE': 0.31188398268398265, 'RMSE': 0.47345070241864}},
  'DT': {'dirty': {'MAE': 0.3738831168831169, 'RMSE': 0.5901600801021886},
   'clean': {'MAE': 0.32482251082251085, 'RMSE': 0.49018359510196435}},
  'GB': {'dirty': {'MAE': 0.29985835626820573, 'RMSE': 0.471201240591828},
   'clean': {'MAE': 0.2803959474567427, 'RMSE': 0.4038351537664637}}},
 560: {'RF': {'dirty': {'MAE': 0.49474807843137236, 'RMSE': 1.484630958660591},
   'clean': {'MAE': 0.48932800000000076, 'RMSE': 1.4604340931050301}},
  'LR': {'dirty': {'MAE': 0.5536131362567366, 'RMSE': 1.194448377957331},
   'clean': {'MAE': 0.5875928223395658, 'RMSE': 1.228714016625616}},
  'KNN': {'dirty': {'MAE': 4.999643921568627, 'RMSE': 6.00316606056365},
   'clean': {'MAE': 4.9813600000000005, 'RMSE': 5.99283719987131}},
  'DT': {'dirty': {'MAE': 0.7838588235294118, 'RMSE': 2.232643808566758},
   'clean': {'MAE': 0.7567999999999999, 'RMSE': 2.302188516962936}},
  'GB': {'dirty': {'MAE': 0.4776384647228536, 'RMSE': 1.3603088518948216},
   'clean': {'MAE': 0.4859722669798214, 'RMSE': 1.3462141267800036}}},
 491: {'RF': {'dirty': {'MAE': 0.6569333333333334, 'RMSE': 0.9045367970433787},
   'clean': {'MAE': 0.6585643274853801, 'RMSE': 0.9287426712846314}},
  'LR': {'dirty': {'MAE': 0.5972415039711748, 'RMSE': 0.7734838482665822},
   'clean': {'MAE': 0.6031776208317068, 'RMSE': 0.7931450273237649}},
  'KNN': {'dirty': {'MAE': 0.6293333333333333, 'RMSE': 0.8579821839975953},
   'clean': {'MAE': 0.6529824561403509, 'RMSE': 0.8979588737642231}},
  'DT': {'dirty': {'MAE': 0.72, 'RMSE': 1.134215120230095},
   'clean': {'MAE': 0.7116959064327485, 'RMSE': 1.137072280338551}},
  'GB': {'dirty': {'MAE': 0.6927632514807758, 'RMSE': 0.9767324926710685},
   'clean': {'MAE': 0.7214156409519613, 'RMSE': 1.015497975185388}}},
 566: {'RF': {'dirty': {'MAE': 202.80155787445574, 'RMSE': 685.5083933852063},
   'clean': {'MAE': 12.955891909120211, 'RMSE': 17.336254117788105}},
  'LR': {'dirty': {'MAE': 244.49978656741274, 'RMSE': 624.6378068264805},
   'clean': {'MAE': 13.77906301192409, 'RMSE': 18.89823868392528}},
  'KNN': {'dirty': {'MAE': 256.0108125689405, 'RMSE': 748.6741395613113},
   'clean': {'MAE': 15.454668035938903, 'RMSE': 20.801717969066843}},
  'DT': {'dirty': {'MAE': 263.524852467344, 'RMSE': 1015.1299794308248},
   'clean': {'MAE': 19.426517969451933, 'RMSE': 27.398236717510223}},
  'GB': {'dirty': {'MAE': 214.32299093692532, 'RMSE': 727.844276851295},
   'clean': {'MAE': 14.780582239888517, 'RMSE': 20.62517480232636}}},
 189: {'RF': {'dirty': {'MAE': 0.11150637801999533,
    'RMSE': 0.14175088027866942},
   'clean': {'MAE': 0.111710057315673, 'RMSE': 0.14147281267814701}},
  'LR': {'dirty': {'MAE': 0.16234827203460017, 'RMSE': 0.20217056507709522},
   'clean': {'MAE': 0.16212927151365192, 'RMSE': 0.2018633309382883}},
  'KNN': {'dirty': {'MAE': 0.09419607988844171, 'RMSE': 0.12052876101013983},
   'clean': {'MAE': 0.09406398867735835, 'RMSE': 0.12028187632199179}},
  'DT': {'dirty': {'MAE': 0.1633806145435878, 'RMSE': 0.21420002856694467},
   'clean': {'MAE': 0.15968703175130425, 'RMSE': 0.2105913134635508}},
  'GB': {'dirty': {'MAE': 0.1397809263981544, 'RMSE': 0.17627256057441382},
   'clean': {'MAE': 0.13922967009974227, 'RMSE': 0.17538311466841114}}},
 673: {'RF': {'dirty': {'MAE': 0.4152935250000002, 'RMSE': 0.5170547361579618},
   'clean': {'MAE': 0.4137504804430384, 'RMSE': 0.5180785918572777}},
  'LR': {'dirty': {'MAE': 0.4077110483426455, 'RMSE': 0.5122182236381942},
   'clean': {'MAE': 0.40871868935895944, 'RMSE': 0.5140552393594947}},
  'KNN': {'dirty': {'MAE': 0.42438325, 'RMSE': 0.5341189758496008},
   'clean': {'MAE': 0.4246818765822784, 'RMSE': 0.5330127172515785}},
  'DT': {'dirty': {'MAE': 0.5468234999999999, 'RMSE': 0.6903438469783213},
   'clean': {'MAE': 0.5680274651898736, 'RMSE': 0.7115871726761884}},
  'GB': {'dirty': {'MAE': 0.43138166609718986, 'RMSE': 0.5413809081517701},
   'clean': {'MAE': 0.421065359171954, 'RMSE': 0.5365960053884473}}},
 639: {'RF': {'dirty': {'MAE': 0.6662963750197999, 'RMSE': 0.8518033416598023},
   'clean': {'MAE': 0.6693870330299999, 'RMSE': 0.856919065507863}},
  'LR': {'dirty': {'MAE': 0.9669260349020506, 'RMSE': 1.1573080983015818},
   'clean': {'MAE': 0.9669260349020506, 'RMSE': 1.1573080983015818}},
  'KNN': {'dirty': {'MAE': 0.724847294808, 'RMSE': 0.915286391163944},
   'clean': {'MAE': 0.724847294808, 'RMSE': 0.915286391163944}},
  'DT': {'dirty': {'MAE': 0.88410993539, 'RMSE': 1.2142512138820982},
   'clean': {'MAE': 0.87891647789, 'RMSE': 1.162012681132334}},
  'GB': {'dirty': {'MAE': 0.5912025209966958, 'RMSE': 0.788614075997609},
   'clean': {'MAE': 0.5951605309657222, 'RMSE': 0.7877236520507148}}},
 41700: {'RF': {'dirty': {'MAE': 281.50970991661694,
    'RMSE': 486.1335649991769},
   'clean': {'MAE': 275.64082660951243, 'RMSE': 472.7973232770026}},
  'LR': {'dirty': {'MAE': 1274.6527300007515, 'RMSE': 1467.9870240944845},
   'clean': {'MAE': 1259.516763761364, 'RMSE': 1523.582188163416}},
  'KNN': {'dirty': {'MAE': 1403.924856367034, 'RMSE': 1690.8854150831219},
   'clean': {'MAE': 1345.5949520538695, 'RMSE': 1709.4839532109459}},
  'DT': {'dirty': {'MAE': 353.5094536175434, 'RMSE': 776.5748885224269},
   'clean': {'MAE': 388.56717442663944, 'RMSE': 805.7719837233692}},
  'GB': {'dirty': {'MAE': 262.5468216530609, 'RMSE': 467.1512929779313},
   'clean': {'MAE': 260.2683258763069, 'RMSE': 456.03336420904924}}},
 44: {'RF': {'dirty': {'F1': 0.9279878569571107,
    'Accuracy': 0.9278385969881509},
   'clean': {'F1': 0.8964403252210127, 'Accuracy': 0.897031200756382}},
  'LR': {'dirty': {'F1': 0.9005276194445833, 'Accuracy': 0.9002332058726337},
   'clean': {'F1': 0.8522383742028496, 'Accuracy': 0.8536870756095464}},
  'KNN': {'dirty': {'F1': 0.7718712391555475, 'Accuracy': 0.7724458292026626},
   'clean': {'F1': 0.7425700193148611, 'Accuracy': 0.7437781852562818}},
  'DT': {'dirty': {'F1': 0.882930796602855, 'Accuracy': 0.8826294670254449},
   'clean': {'F1': 0.8423649800551634, 'Accuracy': 0.8417124602469702}},
  'GB': {'dirty': {'F1': 0.9303120762499993, 'Accuracy': 0.9302294292593117},
   'clean': {'F1': 0.8897095155024571, 'Accuracy': 0.8900833739220124}}},
 38: {'RF': {'dirty': {'F1': 0.9081468657889051,
    'Accuracy': 0.9358448539357423},
   'clean': {'F1': 0.9843156759654121, 'Accuracy': 0.9848693259972489}},
  'LR': {'dirty': {'F1': 0.9091064835226215, 'Accuracy': 0.938759463874787},
   'clean': {'F1': 0.9556194532935253, 'Accuracy': 0.9592847317744153}},
  'KNN': {'dirty': {'F1': 0.9090728146914586, 'Accuracy': 0.9339891439914277},
   'clean': {'F1': 0.9100308907762816, 'Accuracy': 0.9303988995873453}},
  'DT': {'dirty': {'F1': 0.9073810260514821, 'Accuracy': 0.9353143499569624},
   'clean': {'F1': 0.98391259986163, 'Accuracy': 0.9840440165061898}},
  'GB': {'dirty': {'F1': 0.9085447265721529, 'Accuracy': 0.9366388532682206},
   'clean': {'F1': 0.9848207736553135, 'Accuracy': 0.9851444291609353}}},
 458: {'RF': {'dirty': {'F1': 0.9821284768557158,
    'Accuracy': 0.9821499013806706},
   'clean': {'F1': 0.9382503744460877, 'Accuracy': 0.9411009306687828}},
  'LR': {'dirty': {'F1': 0.990466401004207, 'Accuracy': 0.990483234714004},
   'clean': {'F1': 0.9091538518438144, 'Accuracy': 0.9123223432652768}},
  'KNN': {'dirty': {'F1': 0.9832747918895606, 'Accuracy': 0.9833474218089602},
   'clean': {'F1': 0.9323403280691286, 'Accuracy': 0.9362744390736599}},
  'DT': {'dirty': {'F1': 0.8188131307809362, 'Accuracy': 0.8276697661313046},
   'clean': {'F1': 0.8937703572275856, 'Accuracy': 0.8955198037659621}},
  'GB': {'dirty': {'F1': 0.9319869767312776, 'Accuracy': 0.9182093547478163},
   'clean': {'F1': 0.9258218070316705, 'Accuracy': 0.9279272779741721}}},
 1053: {'RF': {'dirty': {'F1': 0.7583147103298538,
    'Accuracy': 0.7936580882352942},
   'clean': {'F1': 0.8596028788965306, 'Accuracy': 0.8699958239914238}},
  'LR': {'dirty': {'F1': 0.7300614252021966, 'Accuracy': 0.7614889705882353},
   'clean': {'F1': 0.8102955385715017, 'Accuracy': 0.8199984976554514}},
  'KNN': {'dirty': {'F1': 0.7357552027313892, 'Accuracy': 0.7590073529411764},
   'clean': {'F1': 0.8214165387146716, 'Accuracy': 0.8382824764240127}},
  'DT': {'dirty': {'F1': 0.7196106504429597, 'Accuracy': 0.7134191176470588},
   'clean': {'F1': 0.825659541171716, 'Accuracy': 0.8233878760794917}},
  'GB': {'dirty': {'F1': 0.7542196382721448, 'Accuracy': 0.8042279411764707},
   'clean': {'F1': 0.8568130224939713, 'Accuracy': 0.8698837210782759}}},
 1050: {'RF': {'dirty': {'F1': 0.8766204497594787,
    'Accuracy': 0.9021155894159089},
   'clean': {'F1': 0.9135246811245556, 'Accuracy': 0.9283666913763282}},
  'LR': {'dirty': {'F1': 0.8686606726176752, 'Accuracy': 0.8950745473908415},
   'clean': {'F1': 0.9023414972634514, 'Accuracy': 0.9164269829503336}},
  'KNN': {'dirty': {'F1': 0.844711517573254, 'Accuracy': 0.8777975751617924},
   'clean': {'F1': 0.8854167146628582, 'Accuracy': 0.908712626637015}},
  'DT': {'dirty': {'F1': 0.8563030047575912, 'Accuracy': 0.851595396084214},
   'clean': {'F1': 0.9068612741020792, 'Accuracy': 0.9072942920681987}},
  'GB': {'dirty': {'F1': 0.8769541971064634, 'Accuracy': 0.8963504546571638},
   'clean': {'F1': 0.9216903132770555, 'Accuracy': 0.92976772918211}}},
 2: {'RF': {'dirty': {'F1': 0.8920120055670319,
    'Accuracy': 0.8953258845437617},
   'clean': {'F1': 0.996985548683238, 'Accuracy': 0.9977272727272727}},
  'LR': {'dirty': {'F1': 0.6918796974024323, 'Accuracy': 0.7595034140285537},
   'clean': {'F1': 0.7458563308451799, 'Accuracy': 0.8170454545454545}},
  'KNN': {'dirty': {'F1': 0.8007172081513494, 'Accuracy': 0.8150962135319677},
   'clean': {'F1': 0.8911677656677099, 'Accuracy': 0.9}},
  'DT': {'dirty': {'F1': 0.8747817056599075, 'Accuracy': 0.8775046554934823},
   'clean': {'F1': 0.9983093126385809, 'Accuracy': 0.9988636363636363}},
  'GB': {'dirty': {'F1': 0.9048981777026578, 'Accuracy': 0.9087026691495966},
   'clean': {'F1': 0.9969981238273921, 'Accuracy': 0.9977272727272727}}},
 3: {'RF': {'dirty': {'F1': 0.9440280732068139, 'Accuracy': 0.944319248826291},
   'clean': {'F1': 0.9527251330633133, 'Accuracy': 0.9529534504903964}},
  'LR': {'dirty': {'F1': 0.9328378384318651, 'Accuracy': 0.9333788145539905},
   'clean': {'F1': 0.9330783319748797, 'Accuracy': 0.9338110165696373}},
  'KNN': {'dirty': {'F1': 0.7791189100321267, 'Accuracy': 0.7822368935837245},
   'clean': {'F1': 0.7813511611464241, 'Accuracy': 0.7844534775569258}},
  'DT': {'dirty': {'F1': 0.9768224042859567, 'Accuracy': 0.976847613458529},
   'clean': {'F1': 0.9836716253566429, 'Accuracy': 0.9836828196434109}},
  'GB': {'dirty': {'F1': 0.9382860184891113, 'Accuracy': 0.9386962050078248},
   'clean': {'F1': 0.9500613819988283, 'Accuracy': 0.9504416765500509}}},
 5: {'RF': {'dirty': {'F1': 0.6520368010602652,
    'Accuracy': 0.7213431013431013},
   'clean': {'F1': 0.6927699985874768, 'Accuracy': 0.7545054945054945}},
  'LR': {'dirty': {'F1': 0.6116265607204437, 'Accuracy': 0.6152136752136752},
   'clean': {'F1': 0.6828086933440345, 'Accuracy': 0.7035897435897436}},
  'KNN': {'dirty': {'F1': 0.5077211583139432, 'Accuracy': 0.6173626373626373},
   'clean': {'F1': 0.5090272165543549, 'Accuracy': 0.623956043956044}},
  'DT': {'dirty': {'F1': 0.561830020174423, 'Accuracy': 0.5596581196581196},
   'clean': {'F1': 0.6812682787953648, 'Accuracy': 0.6834676434676434}},
  'GB': {'dirty': {'F1': 0.6519210133931621, 'Accuracy': 0.6947985347985348},
   'clean': {'F1': 0.7178791906611673, 'Accuracy': 0.7321367521367522}}},
 31: {'RF': {'dirty': {'F1': 0.7374403699301784,
    'Accuracy': 0.7569999999999999},
   'clean': {'F1': 0.8360545123161316, 'Accuracy': 0.844}},
  'LR': {'dirty': {'F1': 0.689011654311023, 'Accuracy': 0.7149999999999999},
   'clean': {'F1': 0.7298809196452336, 'Accuracy': 0.7470000000000001}},
  'KNN': {'dirty': {'F1': 0.6198889608514138, 'Accuracy': 0.651},
   'clean': {'F1': 0.6372229792119773, 'Accuracy': 0.668}},
  'DT': {'dirty': {'F1': 0.686501491611497, 'Accuracy': 0.6839999999999999},
   'clean': {'F1': 0.7520888902794258, 'Accuracy': 0.75}},
  'GB': {'dirty': {'F1': 0.7404224772795408, 'Accuracy': 0.754},
   'clean': {'F1': 0.8294350493973136, 'Accuracy': 0.8320000000000001}}},
 1464: {'RF': {'dirty': {'F1': 0.6381033352240261,
    'Accuracy': 0.6659418344519016},
   'clean': {'F1': 0.5968595098460269, 'Accuracy': 0.6242673992673993}},
  'LR': {'dirty': {'F1': 0.7122678138558042, 'Accuracy': 0.7727874720357942},
   'clean': {'F1': 0.6977366512728395, 'Accuracy': 0.7272710622710623}},
  'KNN': {'dirty': {'F1': 0.6416965949556144, 'Accuracy': 0.6673914988814318},
   'clean': {'F1': 0.5767765585572798, 'Accuracy': 0.5956776556776557}},
  'DT': {'dirty': {'F1': 0.6033135709680766, 'Accuracy': 0.6112125279642059},
   'clean': {'F1': 0.5958500801274317, 'Accuracy': 0.6127655677655678}},
  'GB': {'dirty': {'F1': 0.6719617030655909, 'Accuracy': 0.7113288590604027},
   'clean': {'F1': 0.661914659649328, 'Accuracy': 0.6852747252747253}}}}

In [68]:
# Create a dataframe with all performances for all datasets for all models for all measures for classification task
classification = pd.DataFrame(columns = [
    'dirty_rf_f1', 'dirty_rf_acc',
    'dirty_lr_f1', 'dirty_lr_acc',
    'dirty_knn_f1', 'dirty_knn_acc',
    'dirty_dt_f1', 'dirty_dt_acc',
    'dirty_gb_f1', 'dirty_gb_acc',
    'clean_rf_f1', 'clean_rf_acc',
    'clean_lr_f1', 'clean_lr_acc',
    'clean_knn_f1', 'clean_knn_acc',
    'clean_dt_f1', 'clean_dt_acc',
    'clean_gb_f1', 'clean_gb_acc'
])
for key, value in downstream_perfs_dct.items():
    if key in classification_datasets:
        dirty = []
        clean = []
        for model, perfs in value.items():
            dirty_f1 = perfs['dirty']['F1']
            dirty_acc = perfs['dirty']['Accuracy']
            dirty.append(round(dirty_f1,2))
            dirty.append(round(dirty_acc,2))
            clean_f1 = perfs['clean']['F1']
            clean_acc = perfs['clean']['Accuracy']
            clean.append(round(clean_f1,2))
            clean.append(round(clean_acc,2))
        all_perfs = dirty + clean
        classification.loc[key] = all_perfs
classification

,dirty_rf_f1,dirty_rf_acc,dirty_lr_f1,dirty_lr_acc,dirty_knn_f1,dirty_knn_acc,dirty_dt_f1,dirty_dt_acc,dirty_gb_f1,dirty_gb_acc,clean_rf_f1,clean_rf_acc,clean_lr_f1,clean_lr_acc,clean_knn_f1,clean_knn_acc,clean_dt_f1,clean_dt_acc,clean_gb_f1,clean_gb_acc
44,0.93,0.93,0.90,0.90,0.77,0.77,0.88,0.88,0.93,0.93,0.90,0.90,0.85,0.85,0.74,0.74,0.84,0.84,0.89,0.89
38,0.91,0.94,0.91,0.94,0.91,0.93,0.91,0.94,0.91,0.94,0.98,0.98,0.96,0.96,0.91,0.93,0.98,0.98,0.98,0.99
458,0.98,0.98,0.99,0.99,0.98,0.98,0.82,0.83,0.93,0.92,0.94,0.94,0.91,0.91,0.93,0.94,0.89,0.90,0.93,0.93
1053,0.76,0.79,0.73,0.76,0.74,0.76,0.72,0.71,0.75,0.80,0.86,0.87,0.81,0.82,0.82,0.84,0.83,0.82,0.86,0.87
1050,0.88,0.90,0.87,0.90,0.84,0.88,0.86,0.85,0.88,0.90,0.91,0.93,0.90,0.92,0.89,0.91,0.91,0.91,0.92,0.93
2,0.89,0.90,0.69,0.76,0.80,0.82,0.87,0.88,0.90,0.91,1.00,1.00,0.75,0.82,0.89,0.90,1.00,1.00,1.00,1.00
3,0.94,0.94,0.93,0.93,0.78,0.78,0.98,0.98,0.94,0.94,0.95,0.95,0.93,0.93,0.78,0.78,0.98,0.98,0.95,0.95
5,0.65,0.72,0.61,0.62,0.51,0.62,0.56,0.56,0.65,0.69,0.69,0.75,0.68,0.70,0.51,0.62,0.68,0.68,0.72,0.73
31,0.74,0.76,0.69,0.71,0.62,0.65,0.69,0.68,0.74,0.75,0.84,0.84,0.73,0.75,0.64,0.67,0.75,0.75,0.83,0.83
1464,0.64,0.67,0.71,0.77,0.64,0.67,0.60,0.61,0.67,0.71,0.60,0.62,0.70,0.73,0.58,0.60,0.60,0.61,0.66,0.69

In [69]:
classification.sort_index()

,dirty_rf_f1,dirty_rf_acc,dirty_lr_f1,dirty_lr_acc,dirty_knn_f1,dirty_knn_acc,dirty_dt_f1,dirty_dt_acc,dirty_gb_f1,dirty_gb_acc,clean_rf_f1,clean_rf_acc,clean_lr_f1,clean_lr_acc,clean_knn_f1,clean_knn_acc,clean_dt_f1,clean_dt_acc,clean_gb_f1,clean_gb_acc
2,0.89,0.90,0.69,0.76,0.80,0.82,0.87,0.88,0.90,0.91,1.00,1.00,0.75,0.82,0.89,0.90,1.00,1.00,1.00,1.00
3,0.94,0.94,0.93,0.93,0.78,0.78,0.98,0.98,0.94,0.94,0.95,0.95,0.93,0.93,0.78,0.78,0.98,0.98,0.95,0.95
5,0.65,0.72,0.61,0.62,0.51,0.62,0.56,0.56,0.65,0.69,0.69,0.75,0.68,0.70,0.51,0.62,0.68,0.68,0.72,0.73
31,0.74,0.76,0.69,0.71,0.62,0.65,0.69,0.68,0.74,0.75,0.84,0.84,0.73,0.75,0.64,0.67,0.75,0.75,0.83,0.83
38,0.91,0.94,0.91,0.94,0.91,0.93,0.91,0.94,0.91,0.94,0.98,0.98,0.96,0.96,0.91,0.93,0.98,0.98,0.98,0.99
44,0.93,0.93,0.90,0.90,0.77,0.77,0.88,0.88,0.93,0.93,0.90,0.90,0.85,0.85,0.74,0.74,0.84,0.84,0.89,0.89
458,0.98,0.98,0.99,0.99,0.98,0.98,0.82,0.83,0.93,0.92,0.94,0.94,0.91,0.91,0.93,0.94,0.89,0.90,0.93,0.93
1050,0.88,0.90,0.87,0.90,0.84,0.88,0.86,0.85,0.88,0.90,0.91,0.93,0.90,0.92,0.89,0.91,0.91,0.91,0.92,0.93
1053,0.76,0.79,0.73,0.76,0.74,0.76,0.72,0.71,0.75,0.80,0.86,0.87,0.81,0.82,0.82,0.84,0.83,0.82,0.86,0.87
1464,0.64,0.67,0.71,0.77,0.64,0.67,0.60,0.61,0.67,0.71,0.60,0.62,0.70,0.73,0.58,0.60,0.60,0.61,0.66,0.69

In [70]:
# Calculate average scores per dataset for dirty datasets
for idx in classification.index:
    print(f"F1 {idx}: ", round(mean(classification.loc[idx][['dirty_rf_f1', 'dirty_lr_f1', 'dirty_knn_f1', 'dirty_dt_f1', 'dirty_gb_f1']]),2))
    print(f"Acc {idx}: ", round(mean(classification.loc[idx][['dirty_rf_acc', 'dirty_lr_acc', 'dirty_knn_acc', 'dirty_dt_acc', 'dirty_gb_acc']]),2))

F1 44:  0.88
Acc 44:  0.88
F1 38:  0.91
Acc 38:  0.94
F1 458:  0.94
Acc 458:  0.94
F1 1053:  0.74
Acc 1053:  0.76
F1 1050:  0.87
Acc 1050:  0.89
F1 2:  0.83
Acc 2:  0.85
F1 3:  0.91
Acc 3:  0.91
F1 5:  0.6
Acc 5:  0.64
F1 31:  0.7
Acc 31:  0.71
F1 1464:  0.65
Acc 1464:  0.69

In [71]:
# Calculate average scores per dataset for clean datasets
for idx in classification.index:
    print(f"F1 {idx}: ", round(mean(classification.loc[idx][['clean_rf_f1', 'clean_lr_f1', 'clean_knn_f1', 'clean_dt_f1', 'clean_gb_f1']]), 2))
    print(f"Acc {idx}: ", round(mean(classification.loc[idx][['clean_rf_acc', 'clean_lr_acc', 'clean_knn_acc', 'clean_dt_acc', 'clean_gb_acc']]), 2))

F1 44:  0.84
Acc 44:  0.84
F1 38:  0.96
Acc 38:  0.97
F1 458:  0.92
Acc 458:  0.92
F1 1053:  0.84
Acc 1053:  0.84
F1 1050:  0.91
Acc 1050:  0.92
F1 2:  0.93
Acc 2:  0.94
F1 3:  0.92
Acc 3:  0.92
F1 5:  0.66
Acc 5:  0.7
F1 31:  0.76
Acc 31:  0.77
F1 1464:  0.63
Acc 1464:  0.65

In [124]:
# Store the performances in an excel file
classification.to_excel('data/perfs_cv_class.xlsx')

C:\Users\sande\AppData\Local\Temp\ipykernel_9812\4218847766.py:1: UserWarning:

Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).

In [72]:
# Create a dataframe with all performances for all datasets for all models for all measures for regression task
regression = pd.DataFrame(columns = [
    'dirty_rf_mae', 'dirty_rf_rmse',
    'dirty_lr_mae', 'dirty_lr_rmse',
    'dirty_knn_mae', 'dirty_knn_rmse',
    'dirty_dt_mae', 'dirty_dt_rmse',
    'dirty_gb_mae', 'dirty_gb_rmse',
    'clean_rf_mae', 'clean_rf_rmse',
    'clean_lr_mae', 'clean_lr_rmse',
    'clean_knn_mae', 'clean_knn_rmse',
    'clean_dt_mae', 'clean_dt_rmse',
    'clean_gb_mae', 'clean_gb_rmse'
])

for key, value in downstream_perfs_dct.items():
    if key in regression_datasets:
        dirty = []
        clean = []
        for model, perfs in value.items():
            dirty_mae = perfs['dirty']['MAE']
            dirty_rmse = perfs['dirty']['RMSE']
            dirty.append(round(dirty_mae, 2))
            dirty.append(round(dirty_rmse, 2))
            clean_mae = perfs['clean']['MAE']
            clean_rmse = perfs['clean']['RMSE']
            clean.append(round(clean_mae, 2))
            clean.append(round(clean_rmse, 2))
        all_perfs = dirty + clean
        regression.loc[key] = all_perfs
regression

,dirty_rf_mae,dirty_rf_rmse,dirty_lr_mae,dirty_lr_rmse,dirty_knn_mae,dirty_knn_rmse,dirty_dt_mae,dirty_dt_rmse,dirty_gb_mae,dirty_gb_rmse,clean_rf_mae,clean_rf_rmse,clean_lr_mae,clean_lr_rmse,clean_knn_mae,clean_knn_rmse,clean_dt_mae,clean_dt_rmse,clean_gb_mae,clean_gb_rmse
8,2.88,3.41,2.80,3.36,3.02,3.65,3.69,4.69,2.88,3.45,2.87,3.40,2.73,3.28,3.10,3.71,3.52,4.35,2.90,3.46
204,42.81,54.76,40.24,52.50,43.32,55.64,56.38,71.98,45.00,57.41,40.26,50.33,37.93,48.12,41.37,51.80,56.68,69.69,42.89,53.33
210,0.31,0.49,0.26,0.39,0.35,0.54,0.37,0.59,0.30,0.47,0.25,0.39,0.27,0.42,0.31,0.47,0.32,0.49,0.28,0.40
560,0.49,1.48,0.55,1.19,5.00,6.00,0.78,2.23,0.48,1.36,0.49,1.46,0.59,1.23,4.98,5.99,0.76,2.30,0.49,1.35
491,0.66,0.90,0.60,0.77,0.63,0.86,0.72,1.13,0.69,0.98,0.66,0.93,0.60,0.79,0.65,0.90,0.71,1.14,0.72,1.02
566,202.80,685.51,244.50,624.64,256.01,748.67,263.52,1015.13,214.32,727.84,12.96,17.34,13.78,18.90,15.45,20.80,19.43,27.40,14.78,20.63
189,0.11,0.14,0.16,0.20,0.09,0.12,0.16,0.21,0.14,0.18,0.11,0.14,0.16,0.20,0.09,0.12,0.16,0.21,0.14,0.18
673,0.42,0.52,0.41,0.51,0.42,0.53,0.55,0.69,0.43,0.54,0.41,0.52,0.41,0.51,0.42,0.53,0.57,0.71,0.42,0.54
639,0.67,0.85,0.97,1.16,0.72,0.92,0.88,1.21,0.59,0.79,0.67,0.86,0.97,1.16,0.72,0.92,0.88,1.16,0.60,0.79
41700,281.51,486.13,1274.65,1467.99,1403.92,1690.89,353.51,776.57,262.55,467.15,275.64,472.80,1259.52,1523.58,1345.59,1709.48,388.57,805.77,260.27,456.03

In [140]:
# Store the performances in an excel file
regression.to_excel("data/perfs_cv_regr.xlsx")

C:\Users\sande\AppData\Local\Temp\ipykernel_9812\2389794404.py:1: UserWarning:

Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).

In [78]:
# Calculate average scores per dataset for clean datasets
for idx in regression.index:
    print(f"MAE {idx}: ", round(mean(regression.loc[idx][['clean_rf_mae', 'clean_lr_mae', 'clean_knn_mae', 'clean_dt_mae', 'clean_gb_mae']]), 2))
    print(f"RMSE {idx}: ", round(mean(regression.loc[idx][['clean_rf_rmse', 'clean_lr_rmse', 'clean_knn_rmse', 'clean_dt_rmse', 'clean_gb_rmse']]), 2))

MAE 8:  3.02
RMSE 8:  3.64
MAE 204:  43.83
RMSE 204:  54.65
MAE 210:  0.29
RMSE 210:  0.43
MAE 560:  1.46
RMSE 560:  2.47
MAE 491:  0.67
RMSE 491:  0.96
MAE 566:  15.28
RMSE 566:  21.01
MAE 189:  0.13
RMSE 189:  0.17
MAE 673:  0.45
RMSE 673:  0.56
MAE 639:  0.77
RMSE 639:  0.98
MAE 41700:  705.92
RMSE 41700:  993.53

In [79]:
# Calculate average scores per dataset for dirty datasets
for idx in regression.index:
    print(f"MAE {idx}: ", round(mean(regression.loc[idx][['dirty_rf_mae', 'dirty_lr_mae', 'dirty_knn_mae', 'dirty_dt_mae', 'dirty_gb_mae']]), 2))
    print(f"RMSE {idx}: ", round(mean(regression.loc[idx][['dirty_rf_rmse', 'dirty_lr_rmse', 'dirty_knn_rmse', 'dirty_dt_rmse', 'dirty_gb_rmse']]), 2))

MAE 8:  3.05
RMSE 8:  3.71
MAE 204:  45.55
RMSE 204:  58.46
MAE 210:  0.32
RMSE 210:  0.5
MAE 560:  1.46
RMSE 560:  2.45
MAE 491:  0.66
RMSE 491:  0.93
MAE 566:  236.23
RMSE 566:  760.36
MAE 189:  0.13
RMSE 189:  0.17
MAE 673:  0.45
RMSE 673:  0.56
MAE 639:  0.77
RMSE 639:  0.99
MAE 41700:  715.23
RMSE 41700:  977.75